body {
    font-family: Tahoma, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

h3 {
    margin-bottom: 0;
}