body {
    font-family: Tahoma, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.row input[type="number"] {
    width: 2rem;
    padding: 2px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

h3 {
    margin-bottom: 0;
}
